

header{
  background-image:radial-gradient(black, black,#333);
  color: whitesmoke;
  text-align: center;
  padding: 5px;
}

main{
  border-radius: 5px;
 
  
}

.catifyText {
  -webkit-text-stroke: 2px rgb(51, 51, 51);
}

/* text glow */

.txt{
  font-size: 120px;
  font-family: "Pacifico";
  color:white;
  background: black;
  width: 113%;
  height: 113%;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.txt::before{
  content:'Catify';
  position:absolute;
  mix-blend-mode: difference;
  filter:blur(3px);
}


.neon-wrapper{
  display:inline-flex;
  filter: brightness(200%);
  overflow: hidden;
}

.gradient{
  background:linear-gradient(125.5830067220054deg, rgba(224, 201, 20,1) 6.7673992673992664%,rgba(2, 39, 117,1) 94.3131868131868%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode:multiply;

}

.dodge{
  background: radial-gradient(circle,white,black 35%) center / 25% 25%;
  position: absolute;
  top: -100%;
  left: -100%;
  right: -50px;
  bottom: -20px;
  mix-blend-mode: color-dodge;
  animation: dodge-area 3s linear infinite;
}

@keyframes dodge-area{
  to{
    transform: translate(50%,50%)
  }
}





h1{
  background-color: gray;
  font-size: 30px;
  text-align: center;
  font-family: "Pacifico";
  color: white;
}

footer {
  background-color: #333;
  font-size: 25px;
  text-align: center;
  padding: 15px;
  font-family: "Pacifico";
  color: white;
  margin-top: 1%;
  -webkit-text-stroke: 0.5px #333;
}



.container{
  height: 300px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 300px;
  right: 20%;
  z-index: 10;
  
}

.resize{
  width: 600px;
  height: 500px;
  
}

.clr-field{
  margin: 5px;
}

#user-name-input{
  margin: 5px;
}

#submit-user-name{
  font-family: "Pacifico";
  color: black;
  padding: 10px;
  margin: 5px;


}

/* card boarder effect */


@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card{
  background: black;;
  margin: 5px;
  padding: 20px;
  /* border: black 3px solid; */
  border-radius: 6px;
  position: relative;
  justify-content: center;
  align-items: center;
  width: var(--card-width);
  height: var(--card-height);
  color: white;
}

.card:hover{
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}

.card::before{
  content:"";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
  
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* cursor */
.cursor{
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(235, 124, 124);
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;

}

.btn:hover ~ .cursor
{
  transform: scale(4);
}
/* progress bar */
.progress{
  height: 20px;
  background: transparent;
  position: relative;
  border-radius: 5px;
  
}

.progress .progress-bar{
  position: absolute;
  border-radius: 5px;
  height: 100%;
  background: limegreen;
  
}

#play-animation {
  animation: progress-animation 5s forwards;
}

@keyframes progress-animation{
  0%{ width: 0%}
  100% {width: 100%}

}

@media screen and (max-width: 790px){
  .header{
    width:100%;
  }
}

@media screen and (min-width: 790px){
  .header{
    width: 30%;
  }
}