header{
  background-color: gray;
  font-size: 100px;
  text-align: center;
  padding: 15px;
  font-family: "Pacifico";
  color: white;
  
}
.ify{
  
  color: orange
}


h1{
  background-color: gray;
  font-size: 30px;
  text-align: center;
  font-family: "Pacifico";
  color: white;
}

footer {
  background-color: gray;
  font-size: 25px;
  text-align: center;
  padding: 15px;
}

.container{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 300px;
  right: 50px;
  
  
}

.resize{
  width: 1000px;
  height:auto;
  
}
#submit-user-name{
  font-family: "Pacifico";
  color: black;
}

/* cursor */
.cursor{
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: pink;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;

}

.btn:hover ~ .cursor
{
  transform: scale(4);
}

