

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  background: rgb(0, 0, 0); 
  text-align: center;
  padding: 5px;
  background-color: black;
  color: white;
  margin-bottom: 1%;
}

.catImg{
  display: flex;
  justify-content: right;
  
}

#top-card {
  width: 400px;
  padding: .5%;
  border: 1px solid black;
  margin: 0 auto;
}

#country-code {
  margin-right: 1%;
}

.cardX, .cardY, main {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 20px;
}

.cardY {
  /* Add shadows to create the "card" effect */
  width: 200px;
  margin: 0 auto;
 
}

/* On mouse-over, add a deeper shadow */
.cardX:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.containerX, .cardY img {
  padding: 2px 16px;
  box-shadow: 0 0 2px black;
}

.cardImage1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: rgb(0, 0, 0);
  font-size: 25px;
  text-align: center;
  padding: 15px;
  font-family: "Pacifico";
  color: white;
  margin-top: 1%;
  -webkit-text-stroke: 0.5px black;
}


.cardXcontainer {
  text-align: center;
}

.list-group {
  text-align: left;
}

/* slider card */

section{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .card .image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: orange;
}

section .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white
}

.card{
  position:relative;
  background: white;
  border-radius: 20px;
  margin: 20px 0;
  width: 280px;
}

.card::before {
  content: "";
  position: absolute;
  height: 55%;
  width: 100%;
  background: orange;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;

}

.card .userNameCat{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; 
  color:#333;
}

.userNameCat .userName{
  font-size: 20px;
  font-weight: 600;
}

.userNameCat .catBreed{
  font-size: 15px;
  font-weight: 500;
}

.card .flags{
  position: absolute;
  top: 10px;
  right: 20px;

}


/* slider Button */

.card-content:hover{
  cursor: pointer;
  opacity: .8;
}

a {
  text-align: center;
  margin: 5px;
}